.page {
  min-height: 100vh;
  background: var(--surface);
  color: var(--text);
}

.main {
  display: flex;
  min-height: calc(100vh - 77px);
}

@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }
}
